<div *ngIf="uploadGrades">

  <div class="card" *ngIf="uploadGrades.length > 0">
    <div class="card-body ">
      <div>
        <a [routerLink]="['/exams', examId, 'dashboard', 'grading']"
          class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span
            [translate]="'Expandable.More'"></span></a>
        <div class="row">
          <h5 class="mt-2 mb-3">{{uploadGrades.length}}
            <span *ngIf="uploadGrades.length > 1; else plural">{{'Exams.Grading.Plural' | translate}}</span>
            <ng-template #plural>
              <span>{{'Exams.Grading.Singular' | translate }}</span>
            </ng-template>(
            <span class="text-purple"> {{active || 0}} {{'ActionStatusTypes.ActiveActionStatus' | translate}} </span> )
          </h5>
        </div>
      </div>

      <div id="group-list" class="flex-column">
        <ul class="sis--list-group sis--list-group-header">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis--list-group-item_lg_column" [translate]="'Exams.Username'"></div>
              <div class="sis--list-group-item_lg_column d-none d-sm-block" [translate]="'Exams.Submitted'"></div>
              <div class="sis--list-group-item_lg_column" [translate]="'Exams.SubmissionStatus'"></div>
              <div class="sis--list-group-item_lg_column d-none d-md-block text-right" [translate]="'Exams.TotalGrades'"></div>
            </div>
          </li>
        </ul>
        <ul class="sis--list-group sis--list-group-body">
          <div *ngFor="let exams of uploadGrades">
            <div>
              <li class="sis--list-group-item">
                <div class="d-flex justify-content-center align-items-center list-color">
                  <div class="sis--list-group-item_lg_column"><span class="text-secondary">{{exams.owner.alternateName}}</span></div>
                  <div class="sis--list-group-item_lg_column d-none d-sm-block "><span class="text-secondary">{{exams.dateCreated | localizedDate: 'short'}}</span></div>
                  <div class="sis--list-group-item_lg_column"><span>
                      <span
                        [ngClass]="{'text-purple': exams.actionStatus.alternateName ==='ActiveActionStatus',
                                  'text-danger': exams.actionStatus.alternateName === 'CancelledActionStatus' || exams.actionStatus.alternateName === 'FailedActionStatus',
                                  'text-success': exams.actionStatus.alternateName ==='CompletedActionStatus'}">
                        {{'ActionStatusTypes.' + exams.actionStatus.alternateName | translate}}
                      </span>
                    </span></div>
                  <div class="sis--list-group-item_lg_column d-none d-md-block text-right">
                    <span *ngIf="exams.grades && exams.grades.length">
                      {{exams.grades[0].totalCount}}
                    </span>
                    <span *ngIf="exams.grades && exams.grades.length === 0">
                      -
                    </span>
                  </div>
                </div>
              </li>
            </div>
          </div>
        </ul>
      </div>

    </div>
  </div>

  <div *ngIf="uploadGrades.length == 0">
    <div class="card">
      <div class="card-header d-flex justify-content-between mt-3">
        <h5 class="mt-2 mb-4">{{uploadGrades.length}} {{'Exams.Grading.Plural' | translate}} (
          <span class="text-purple"> {{active || 0}} {{'ActionStatusTypes.ActiveActionStatus' | translate}} </span> )
        </h5>
        <a [routerLink]="['/exams', examId, 'dashboard', 'grading']" class="text-primary mt-2" [translate]="'Expandable.More'"></a>
      </div>
    </div>
  </div>

</div>
