i {
  font-size: 1rem;
  color: #333;
  top: .75rem;
  left: .75rem
}

input {
  padding-left: 2.5rem;
}

label {
    display: block;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

li {
  list-style-type: none;
}

.search-result li a:hover {
  background-color: var(--indigo);
  color: var(--white) !important;
  *{color: var(--white) !important;}  
}

.search-result li a {
  margin-bottom: 0.2em; 
  display: inline-block;
  width: 100%;
  padding: .9rem;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
  
ul.search-result {
  margin-top: 0;
  padding-left: 0;
}

.student-id {
  color: gray;
}

.student-icon, .instructor-icon {
  padding-right: 1rem;
}
