<div class="row">
  <div class="col-sm-12">
    <div id="advanced-form">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-inline pb-1 pr-1 pl-1 pt-3 col">
            <div class="form-group col-12">
              <label class="pr-3" for="name" [translate]="'AttachmentTypes.Name'"></label>
              <input [(ngModel)]="filter.name" spellcheck="false" type="text" id="name"
                     name="name" class="form-control col text-left"
                     placeholder="{{ 'AttachmentTypes.Name' | translate }}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
