<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table" [routerSearchState]>
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-3">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Graduations.Title'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Graduations.TitleSingular'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="font-lg btn-toolbar mt-3">
        <a class="text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'add'} }]">
          <span>+</span><span>&nbsp;</span><span [translate]="'Tables.AddItem'"></span>
        </a>
      </div>
      <div class="btn-group" *ngIf="this.table && this.table.selectable">
        <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="btn btn-outline-indigo btn-lg" (click)="acceptAction()" type="button" [translate]="'Requests.Edit.accept'">
          Accept
        </button>
        <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" (click)="acceptAction()" [translate]="'Requests.Edit.accept'">Accept</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" (click)="rejectAction()" [translate]="'Requests.Edit.reject'">Reject</button>
          <button *ngIf="showPublish" [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" (click)="publishAction()" [translate]="'Requests.Publish'">Publish</button>
          <button *ngIf="showSign" [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" (click)="signAction()" [translate]="'Reports.Viewer.Sign'">Sign</button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
          <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'">Clear selection</button>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4">
      <app-advanced-table #table [autoLoad]="false" [height]="600" (load)="onDataLoad($event)"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
