<div *ngIf="graduationEvent">
  <div class="card" *ngIf="graduationEvent?.length != 0">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Graduations.EventDetails'"></h5>
      <a href="#/graduations/{{this.graduationEvent.id}}/dashboard/general" class="text-primary my-auto my-auto" [translate]="'Expandable.More'"></a>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="row mt-2">
        <div class="col">{{ 'Graduations.Date' | translate }}</div>
        <div class="col">{{ 'Graduations.Time' | translate }}</div>
      </div>
      <div class="row text-secondary">
        <div class="col">{{ (graduationEvent?.startDate | date:'shortDate') || '-'}}</div>
        <div class="col">{{ (graduationEvent?.startDate | date:'shortTime') || '-' }}</div>
      </div>
      <div class="row mt-2">
        <div class="col">{{ 'Graduations.Place' | translate }}</div>
      </div>
      <div class="row text-secondary">
        <div class="col"><span *ngIf="graduationEvent?.location?.displayCode">{{graduationEvent?.location?.displayCode}} - </span>{{ graduationEvent?.location?.fullName || graduationEvent?.location?.name || '-' }}</div>
      </div>
      <div class="row mt-2">
        <div class="col">{{ 'Graduations.Capacity' | translate }}</div>
      </div>
      <div class="row text-secondary">
        <div class="col">{{ graduationEvent?.maximumAttendeeCapacity ?
          (graduationEvent?.maximumAttendeeCapacity - (graduationEvent?.remainingAttendeeCapacity || graduationEvent?.maximumAttendeeCapacity)) : '-' }}
          / {{ graduationEvent?.maximumAttendeeCapacity || '-' }}</div>
      </div>
      <div class="row mt-2">
        <div class="col">{{ 'Graduations.Url' | translate }}</div>
      </div>
      <div class="row text-secondary">
        <div class="col">{{ graduationEvent?.url || '-' }}</div>
      </div>
      <div class="d-flex justify-content-center mt-2 pt-2 pb-2 border-top">
        {{ 'Graduations.RequestPeriod' | translate }}
      </div>
      <div class="row">
        <div class="col">{{ 'Graduations.Start' | translate }}</div>
        <div class="col">{{ 'Graduations.End' | translate }}</div>
      </div>
      <div class="row text-secondary">
        <div class="col">{{ (graduationEvent?.validFrom | date:'shortDate') || '-' }}</div>
        <div class="col">{{ (graduationEvent?.validThrough | date:'shortDate') || '-' }}</div>
      </div>
      <div class="d-flex justify-content-center mt-2 pt-2 pb-2 border-top">
        {{ 'Graduations.DocumentSubmissionPeriod' | translate }}
      </div>
      <div class="row">
        <div class="col">{{ 'Graduations.Start' | translate }}</div>
        <div class="col">{{ 'Graduations.End' | translate }}</div>
      </div>
      <div class="row text-secondary">
        <div class="col">{{ (graduationEvent?.validFrom | date:'shortDate') || '-' }}</div>
        <div class="col">{{ (graduationEvent?.validThrough | date:'shortDate') || '-' }}</div>
      </div>
      <div class="row d-flex justify-content-center mt-4">
        <a href="#/graduations/list/opened/(modal:{{this.graduationEvent.id}}/edit)" class="btn btn-md bg-color-theme text-light w-50 mt-2" [translate]="'Graduations.Edit.Label'"></a>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="graduationEvent?.length == 0">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Classes.General'"></h5>
      <a href="#/graduations/list/opened/(modal:{{this.graduationEvent.id}}/edit)" class="text-primary my-auto my-auto" [translate]="'Expandable.More'"></a>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="card-text row">
        <div class="col-12  text-dark">
          <span [translate]="'Courses.NoGeneralInfo'"></span>
        </div>
      </div>
    </div>
  </div>
</div>
