<div class="card" *ngIf="attachments && attachments.length">
  <div class="card-body">
    <h4 class="card-title" [translate]="'GraduationRequestActions.RequiredDocuments'"></h4>
    <div id="group-list" class="flex-column">
      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center">
            <div class="sis--list-group-item_sm_column text-left" [translate]="'Students.Date'"></div>
            <div class="sis--list-group-item_md_column d-none d-lg-block text-left"
                 [translate]="'Students.Title'"></div>
            <div class="sis--list-group-item_sm_column text-left"></div>
          </div>
        </li>
      </ul>
      <ul class="sis--list-group sis--list-group-body">
        <li class="sis--list-group-item" *ngFor="let attachment of attachments">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_sm_column text-left">
              {{ attachment.dateModified | date:'short' || '-'}}
            </div>
            <div class="sis--list-group-item_md_column text-secondary text-truncate text-left">
              {{attachment.attachmentType?.name}}
            </div>
            <div class="sis--list-group-item_sm_column text-center">
                <span>
                  <a class="font-sm" href="javascript:void(0)" (click)="downloadFile(attachment)">  <i
                    class="pl-2 fas fa-2x fa-file-download text-indigo"></i></a>
                </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
