<div>
  <div class="row">
    <div class="col-12" [ngVar]="{instructorID: instructorID}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="students" [allowSave]="false">
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
            [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Instructors.SupervisedStudents'"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #students [showFooter]="false"  (load)="onDataLoad($event)" [height]="600"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
