<ng-container *ngIf="(dividedInto$ | async) as dividedInto">
    <div class="card shadow-none">
        <div class="card-body py-2">
            <div class="d-flex">
                <div>
                    <h3 id="DivideClass" class="card-title font-weight-normal" [translate]="'OneRoster.DivideClass'"></h3>
                    <p class="card-text" innerHTML="{{ 'OneRoster.DivideClassDescription' | translate }}">
                    </p>
                </div>
            </div>
            <ng-container *ngIf="courseClass && courseClass.sections.length > 0">
                <h5 class="my-3 text-success font-weight-normal" [translate]="'OneRoster.CannotDivideClassMessage'"></h5>
            </ng-container>
            <ng-container *ngIf="courseClass && courseClass.sections.length === 0">
                <ng-container *ngFor="let item of dividedInto; let i = index">
                    <div class="card my-3" *ngIf="item.status !== 'inactive'">
                        <div class="card-header pb-1 pt-4">
                            <button (click)="remove(dividedInto, i)" type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
                                <span class="h2" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="card-body pt-0">
                            <formio (formLoad)="onFormLoad()" (customEvent)="onEvent($event, dividedInto, i)"
                                (change)="onChange($event, item)" [renderOptions]="renderOptions" [form]="form" #formComponent
                                [submission]="{ data: item}"></formio>
                        </div>
                    </div>
                </ng-container>
                <div class="row mt-4 btn-toolbar justify-content-between" role="toolbar">
                    <div class="col-6">
                        <button type="button" [disabled]="!isValid" (click)="add(dividedInto)"
                            class="btn btn-block btn-light mr-2" [translate]="'OneRoster.Add'">
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="button" [disabled]="!isValid" (click)="save(dividedInto)"
                            class="btn btn-block btn-theme mr-2" [translate]="'OneRoster.Save'">
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>