<div>
  <div class="row">
    <div class="col-auto mt-2">
      <div class="col-auto mt-3">
        <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
          <span>{{ recordsTotal }}</span
          ><span>&nbsp;</span><span [translate]="'Departments.Roles.ListTitle.Plural'"></span>
        </div>
        <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
          <span>{{ recordsTotal }}</span
          ><span>&nbsp;</span><span [translate]="'Departments.Roles.ListTitle.Singular'"></span>
        </div>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="font-lg btn-toolbar mt-3">
        <a
          *ngIf="roles && roles.selected && roles.selected.length > 0"
          class="text-danger text-decoration-none mr-2"
          [routerLink]=""
          (click)="removeRole()"
        >
          <span>-</span><span>&nbsp;</span><span [translate]="'Departments.Roles.Remove.Title'"></span>
        </a>
        <a class="text-indigo text-decoration-none" [routerLink]="">
          <span>+</span><span>&nbsp;</span><span [translate]="'Departments.Roles.Add.Title'" (click)="addRole()"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #roles (load)="onDataLoad($event)" [selectable]="true" [height]="600"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
