<div class="row">
  <div class="col-12 my-3">
    <h5 [translate]="'Students.DeclaredStudents'"></h5>
  </div>
</div>
<div class="row">
  <div class="col-12" [ngVar]="{}" #filter="ngVar">
    <app-advanced-table-search [(filter)]="filter.value" [collapsed]="true" [table]="students">
      <advanced-search>
        <app-students-graduated-advanced-table-search [(filter)]="filter.value"></app-students-graduated-advanced-table-search>
      </advanced-search>
    </app-advanced-table-search>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-4">
    <app-advanced-table #students [config]="students.config"></app-advanced-table>
  </div>
</div>
