<div>
    <div class="alert alert-danger" role="alert" *ngIf="lastError">
        Something went wrong with this action!
    </div>
    <p>
        Had denoting properly you occasion directly raillery.
        In said to of poor full be post face snug. Introduced imprudence see say unpleasing devonshire acceptance son.
    </p>
</div>
