<div *ngIf="courses">
  <div class="card" *ngIf=" courses?.length > 0">

    <div class="card-body ">
      <div>
        <a [routerLink]="['/courses', this.courseId, 'dashboard', 'study-programs']" class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span [translate]="'Expandable.More'"></span></a>
        <div class="row">
          <h5 [translate]="'Courses.StudyPrograms'" class="mr-3 my-auto"></h5>

        </div>
      </div>
      <div id="group-list"  class="flex-column">
        <ul class="sis--list-group sis--list-group-header">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis--list-group-item_sm_column d-none d-md-block" [translate]="'StudyPrograms.Name'"></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block px-4" [translate]="'StudyPrograms.Specialty'"></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block" [translate]="'StudyPrograms.Semesters'"></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block" [translate]="'StudyPrograms.CourseType'"></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block" [translate]="'Courses.ects'"></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block" [translate]="'Courses.units'"></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block" [translate]="'Courses.Coefficient'"></div>
              <div class="sis--list-group-item_sm_column text-left"></div>`
            </div>
          </li>
        </ul>
        <ul class="sis--list-group sis--list-group-body">

          <li class="sis--list-group-item" *ngFor="let specializationCourse of courses">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_sm_column d-none d-md-block "><span class="text-dark">{{ specializationCourse?.studyProgramCourse?.studyProgram?.name }}</span></div>
              <div *ngIf="specializationCourse?.specialization?.abbreviation != null" class="sis--list-group-item_sm_column d-none d-xl-block"><span class="text-secondary">{{ specializationCourse?.specialization?.abbreviation}}</span></div>
              <div *ngIf="specializationCourse?.specialization?.abbreviation == null" class="sis--list-group-item_sm_column d-none d-xl-block"><span class="text-secondary">{{ specializationCourse?.specialization?.name}}</span></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block "><span class="text-secondary">{{ specializationCourse?.semester?.alternateName}}</span></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block "><span class="text-secondary"> {{ specializationCourse?.courseType?.name}}</span></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block "><span class="text-secondary"> {{ specializationCourse?.ects }}</span></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block "><span class="text-secondary"> {{ specializationCourse?.units }}</span></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block "><span class="text-secondary"> {{ specializationCourse?.coefficient }}</span></div>
              <div class="sis--list-group-item_sm_column text-right">
                <a [routerLink]="['/study-programs', specializationCourse.studyProgramCourse?.studyProgram?.id, 'preview', 'specialization', specializationCourse.specialization?.specialty, 'courses' , { outlets: { modal:['item', specializationCourse.id, 'edit'] } }]" class="text-primary text-decoration-none"
                   [translate]="'Courses.View'"></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="mt-4 mb-3 text-left text-gray-600 font-xs" *ngIf="courses.length == 1; else MorePrograms">
        <span>{{ courses.length}} <span [translate]="'StudyPrograms.Title'"></span></span>
      </div>
      <ng-template #MorePrograms>
        <div class="mt-4 mb-3 text-left text-gray-600 font-xs">
          <span>{{ courses.length}} <span [translate]="'Courses.StudyPrograms'"></span></span>
        </div>
      </ng-template>
    </div>
  </div>
  <div  *ngIf="courses?.length == 0">
  <div class="card">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Courses.StudyPrograms'"></h5>
      <a href="#/courses/{{this.courseId}}/dashboard/study-programs" class="text-primary  align-self-center mb-2 float-right ml-auto my-auto" [translate]="'Expandable.More'"></a>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="card-text row pb-2">
        <div class="col-auto text-dark pl-3">
          <span [translate]="'Courses.NoStudyPrograms'"></span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
